/* +++++++++++++++++ COMMON STYLE +++++++++++++++++*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

/* +++++++++++++++++ BODY STYLE +++++++++++++++++*/
body {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 5%;
    background-color: black;
}

.settings-top-right {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}

.settings-top-right>span,
.settings-top-right>button {
    background-color: grey;
    color: white;
    padding: 0.2rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
}


/* +++++++++++++++++ MAIN STYLE +++++++++++++++++*/
main {
    height: 85%;
    margin: 0 5% 2%;
    /* display: flex; */
    flex-wrap: wrap;
}

.main-container-user {
    position: relative;
    width: calc(100% / 7);
    height: calc(100% / 5);
    padding: 0.2rem 0.1rem;
}

img {
    width: 100%;
    height: 100%;
}

.name-user {
    position: absolute;
    bottom: 0.2rem;
    left: 0.1rem;

    font-size: 0.8rem;
    padding: 0.2rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
}

/* +++++++++++++++++ FOOTER STYLE +++++++++++++++++*/

footer {
    height: 10%;
    background-color: #222222;
}

.footer-right {
    width: 25%;
}

.footer-center {
    width: 50%;
    /* display: flex; */
    justify-content: center;
}

.btn-toolbar {
    position: relative;
    color: white;
    height: 100%;
    padding: 1rem;
    margin-right: 0.2rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-chevron-up {
    position: absolute;
    right: 0;
    font-size: 1rem;
}

.btn-toolbar .fa-microphone {
    font-size: 2rem;
}

.footer-left {
    width: 25%;
    position: relative;
}



.end-meeting {
    color: red;
    background-color: #4A4A4A;
    height: 100%;
    width: 40%;
    position: absolute;
    right: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}